@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* 便于外部主题覆盖的变量 */
    --tr-panel-bg: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* 表格处理 */
.ant-card-body {
    padding: 0 !important;
}

.ant-table-cell {
    padding: 8px !important;
}

.ant-menu.ant-menu-sub.ant-menu-inline,
.fr-search, 
.tr-table-wrapper,
.tr-toolbar-column-setting {
    background: var(--tr-panel-bg) !important;
}